body{
    background-color:#BAD9E0;
}

.bienvenido{
    background-color:#D9F7DC;
}
.textogrande{
color:#F2F6F6;
font-size: 9rem;
text-align: left;
}
.titulos{
color:#7377DE;
text-align: left;
}
.textoparrafo{
    line-height: 25px;
    font-size: 25px;
    background-color:#D9F7DC;
}
.p{
    text-align: justify;
}
.imgRedonda{
    width: 298px;
    height: 298px;
    border-radius: 149px;
    border-radius:150px;
    border:10px solid #666;
}
.centrartexto{
    margin: auto;
    display: block;
}
.fondotarjetas{
    background-color: #FFE6CC;
}
.todotexto{
background: paleturquoise;
width: 100%;
height: 210px;
border: 8px solid rgb(115, 223, 126);
}
